body{
    background: linear-gradient(to right, #09090A 0%, #181719 38%, #39363D 79%, #36343B 100%);
}

.textContainer{
    display: grid;
    place-items: left;
    margin-left: 100px;
    margin-top: 100px;
}

h1{
    color: gray;
    font-size: 25px;
}

h2{
    color: #ffff;
    font-size: 45px;
}

.p1{
    color: gray;
    margin-top: 0px;
    padding-bottom: 100px;
}

h4{
    color: blueviolet;
    font-size: 30px;
}

.calcContainer {
    width: 320px;
    border-radius: 45px;
    border: 1px solid rgb(44, 36, 51);;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    float: right;
    margin-right: 15%;
    margin-top: -30px;
    background-color: rgb(44, 36, 51);
    box-shadow: 0px 0px 10px rgba(0, 2, 4, 6);
}

#display {
    width: 90%;
    height: 30px;
    font-size: 16px;
    padding: 10px;
    padding-top: 40px;
    margin-bottom: 5px;
    border: none;
    background-color: rgb(44, 36, 51);
    color: #ffffff;
}

#display:disabled {
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 5px;
    border: none;
    background-color: rgb(44, 36, 51);
    color: #ffffff;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.clearBtn {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

.clearBtn:hover {
    background-color: #3e8e41;
}

.Btn{
    background-color: rgb(44, 36, 51);
    width: 60px;
    height: 60px;
    color: white;
    font-size: large;
    border-radius: 50px;
    border: transparent ;
    box-shadow: 0 4px 8px rgba(0.2, 0.1, 0.1, 0.5);
    

}

.Btn:hover{
    cursor: pointer;
    background-color: blue;
}

.clearBtn{
    background-color: rgb(113, 32, 189);
    width: 60px;
    height: 60px;
    color: white;
    font-size: large;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0.2, 0.1, 0.1, 0.5);

}

.equalBtn{
    background-color: blue;
    width: 60px;
    height: 60px;
    color: white;
    font-size: large;
    border-radius: 50px;
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0.2, 0.1, 0.1, 0.5);

}

.equalBtn:hover{
    background-color: red;
    cursor: pointer;
}
/* For large screens */
@media (min-width: 1200px) {
    .calcContainer {
      width: 320px;
      margin-right: 15%;
    }
  }
  
  /* For medium screens */
  @media (min-width: 768px) and (max-width: 1199px) {
    .calcContainer {
      width: 250px;
      margin-right: 10%;
    }
    .buttonContainer {
      gap: 10px;
    }
    .Btn, .clearBtn, .equalBtn {
      width: 50px;
      height: 50px;
    }
  }
  
  /* For small screens */
  @media (min-width: 480px) and (max-width: 767px) {
    .calcContainer {
      width: 200px;
      margin-right: 22%;
      margin-top: -10%;
    }
    .buttonContainer {
      gap: 10px;
    }
    .Btn, .clearBtn, .equalBtn {
      width: 40px;
      height: 40px;
    }
    h1,h2,p{
        display: none;
    }
    h4{
        display: block;
        margin-top: 165%;
        margin-left: 50%;

    }
  }
  
  /* For extra small screens */
  @media (max-width: 479px) {
    .calcContainer {
      width: 100%;
      margin-right: 0;
      padding: 10px;
    }

    .buttonContainer {
      gap: 20px;
    }
    .Btn, .clearBtn, .equalBtn {
      width: 60px;
      height: 60px;
    }
    #display {
      width: 100%;
      padding: 5px;
    }

    h1,h2,p{
        display: none;
    }
    h4{
        display: block;
        margin-top: 20%;
        margin-left: -25%;

    }

}

